altair==5.5.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560558132/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1732552591380/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1727359833193/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1729006966809/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428301407/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
decorator==5.1.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
executing==2.1.0
filelock==3.18.0
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1735335813560/work
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841327252/work
fsspec==2025.3.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
ipython==8.31.0
jedi==0.19.2
Jinja2==3.1.6
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302935093/work
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1736908181161/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1725066159413/work/libmambapy
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1725066159413/work/mamba
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1731146972698/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1739851660861/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1734904247545/work/dist/numpy-2.2.1-cp312-cp312-linux_x86_64.whl#sha256=cec35d6185537c99fe6fbcc77d443616b14eafceb2a878df23e26b45637c3b50
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1725460884078/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
prompt_toolkit==3.0.48
protobuf==5.29.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355774225/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydeck==0.9.1
Pygments==2.18.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySide6==6.8.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rpds-py==0.23.1
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1728764986945/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724466132/work
setuptools==75.3.0
shiboken6==6.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
stack-data==0.6.3
streamlit==1.43.2
tenacity==9.0.0
toml==0.10.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615905931/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1730926118411/work
traitlets==5.14.3
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
typing_extensions==4.12.2
tzdata==2024.2
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692508163/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
watchdog==6.0.0
wcwidth==0.2.13
wheel==0.45.0
zstandard==0.23.0
